line {
  stroke: steelblue;
  stroke-width: 2px;
}

line.pointer {
  opacity: 0.7
}

line.objective {
  stroke: rgba(135, 205, 235, 0.6) !important;
  stroke-width: 5px !important;
}

line.upper {
  stroke: red !important;
}

line.lower {
  stroke: green !important;
}

line.inactive {
  stroke-width: 1px;
  stroke: lightgray !important;
}

circle.baseObjective {
  stroke: steelblue;
  stroke-width: 1.5px;
  fill: lightsteelblue;
  
}

div.trace {
  border : 2px solid;
  border-radius : 5px;
}

circle {
  stroke: steelblue;
  stroke-width: 1.5px;
  fill: lightsteelblue;  
}

circle.pair {
  fill: rgba(0,0,0,0);
}

.dragging {
  fill: salmon !important;
}

text.objective {
  font-family: sans-serif;
  font-size: 20px;
  fill: rgba(0,0,0,0.5);
}
